*{margin: 0;padding: 0;}
a{text-decoration: none;cursor: pointer;outline: none;color: #006699;}
a:link:hover{text-decoration: underline;}
ul,li{list-style: none;}
img{border:0;}
body{background-color: #fff;}
body,input,td,button,select{font-family: "lucida Grande",Verdana;font-size: 12px;}
input{outline: none;color: #a3a3a3;}
ul{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
table{display: table;border-collapse: separate;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
tr{display: table-row;vertical-align: inherit;border-color: inherit;}
.toarea b{font-weight: normal;}
.toarea .bold{font-weight: bold;}

#topdataid{height: 66px;overflow: hidden;}
.topdata{height: 66px;}
.topbg{height: 66px;float: right;background: url("../images/topbg.jpg") no-repeat right;width: 486px;}
.addrtitle{color: #8fa7b3;}
.setinfo{height: 23px;margin: 6px 8px 0 0;text-align: right;}
.right{float: right;}
#gplayercontainer{padding-right: 10px;margin: 0;}
.searchsubject{position: absolute;z-index: 11;right: 0;width: 286px;top: 37px;}
.nowrap{white-space: nowrap;}
.smartsearch{position: relative;border: 1px solid #BBB;background: #FFF;padding: 1px 21px;height: 18px;line-height: 18px;margin: 3px 5px 3px 2px;border-radius: 2px;box-shadow: 0 1px 1px #E6E6E6 inset;}
.searchinput{background: #fff;width: 100%;height: 18px;line-height: 18px;font-size: 12px;padding: 0;margin: 0;border: 0;outline: none;}
.ssicon{width: 18px;height: 16px;display: inline-block;vertical-align: middle;background-image: url("../images/smart.png");background-repeat: no-repeat;}
.ssfronticon{left: 2px;top: 2px;position: absolute;}
.ssiconsearch{background-position: -3px -3px;}
.ssendicon{right: 2px;top: 3px;position: absolute;}
.ssiconarrowdown{background-position: -27px -4px;}
.logo{position: absolute;left: 5px;z-index: 6;}
.imglogo{width: 215px;height: 60px;display: block;float: left;}
.pointer{cursor: pointer;}
.skinlogo img{background-image: url("../images/logo6.gif");}
.maillogo{width: 215px;height: 60px;border: none;}
.switch{display: block;float: left;margin: 12px 0 0 0;line-height: 18px;}
.left{float: left;}
.sl{margin-top: 1px;}

#seplineid{position: absolute;top: 66px;left: 0;right: 0;height: 11px;}
.topline{width: auto;border-left: 8px solid #fff;height: 11px;border-right: 0;background: url("../images/navbg.gif") 0 -107px repeat-x;}
.toplineimg{background-image: url("../images/topline.gif");background-position: -179px 0;width: 184px;height: 22px;}
.fdbody{border-left: 8px solid #fff;border-right: 1px solid #000000;background: #000000;}
.bodybgbt{position: absolute;top: 77px;width: 179px;bottom: 0;}
#leftpanel{position: absolute;top: 77px;width: 179px;left: 8px;bottom: 0;border-left: 0 none;height: auto;}
#navbardiv{position: absolute;top:0;left:0;z-index: 3;}
.newskinbody .navbar{background-image: url("../images/navbg.gif");background-repeat: no-repeat;width: 179px;height: 107px;margin: 0; list-style: none;}
.newskinbody .navbar .fs{height: 24px!important;color: #afe6ee;float: left;}
.newskinbody .navbar .composepart{margin: 0 10px 0 11px;padding: 2px 0 0 0;height: 26px;}
.newskinbody .navbar .fs a{color: #afe6ee;line-height: 24px;padding-left: 41px;height: 24px!important;}
.newskinbody .fs,.newskinbody .fn{padding-left: 0;padding-right: 0;}
.newskinbody .fs a,.newskinbody .fn a{display: block;height: 22px;overflow: hidden;padding-left: 13px;text-decoration: none;color: #fff;}
.navbar a{text-decoration: none;font-weight: bold;font-size: 14px;font-family: "lucida Grande",Verdana;}
.navbar .fs input{float: left;border: 0;padding: 0;width: 20px;height: 20px;margin: -20px 0 0 12px;}
.composebtn{background-image: url("../images/maild.png");background-position: 0 -1px;background-repeat: no-repeat;background-color: transparent;}
.navbar .checkpart{margin: 6px 10px 0 11px;}
.checkbtn{background: url("../images/maild.png") 0 -33px no-repeat;background-color: transparent;}
.navbar .addrpart{margin: 6px 10px 0 12px;}
.navbar li{width: 156px;}
.addrbtn{background: url("../images/maild.png") 0 -63px no-repeat; background-color: transparent;}
.listbg{background-image: url("../images/topline.gif"); background-repeat: repeat-y;}
.listflow{position: absolute;top: 107px;left: 0;right: 0;bottom: 13px;overflow: hidden;height: auto;}
#folder{overflow-y: auto;overflow-x: hidden;}
.folderdiv{margin: 0 5px 0 6px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;height: 100%;overflow: auto;}
.fn{background: #006b8e;color: #ffffff;border: 1px solid #0099cc;}
.fs,.fn{height: 22px;line-height: 20px;overflow: hidden; padding: 0 2px 0 13px;margin-bottom: 1px;margin-top: 0;margin: 0 5px 3px;}
.fdul .fs a:link{color: #a3a3a3;}

#folder6{margin-bottom: -1px;text-align: right;}
.folderdiv .fs{border: 1px solid #001d26;}
.icoinput{border: none;padding: 0;margin: 0;width: 16px;height: 16px;position: absolute;}
.drifticon{background-color: transparent; background-position: -32px -190px;vertical-align: middle;margin: 4px 0 0 5px;background-image: url("../images/maild.png");background-repeat: no-repeat;width: 12px;height: 14px;}
.iconfolderliststar{background-color: transparent;margin: 4px 0 0 5px;background-position: -80px -176px;background-image: url("../images/maild.png");background-repeat: no-repeat;width: 12px;height: 12px;}
.newskinbody .fdleft{color: #929292;background: none;padding-left: 0;margin-right: 2px;display: inline;height: auto;}
.sepline{border-top: 1px solid #31444a;height: 0!important;font: normal 1px "lucida Grande",Verdana;line-height: 0px;overflow: hidden;margin: 5px 5px 0;}
#personalfolders,#tagfolders,#popfolders{display: none;overflow: hidden;}
.fdon{background: url("../images/maild.png") no-repeat -127px -27px;width: 13px;height: 14px;border: 0;padding: 0;cursor: pointer;}
.newskinbody .fdon,.fdoff{float: left;margin: -21px 0 0 1px;}
.hidden{visibility: hidden;font-size: 0;}
.seplineheight{height: 4px;overflow: hidden;}
.newskinbody .fssep{white-space: nowrap;padding-left: 9px;}
.newskinbody .fssep a{white-space: nowrap;padding: 1px 4px 3px;border: none!important;display: inline;height: auto;}
.newskinbody .fs .nolinkbg{cursor: default;text-decoration: none;float: none;padding: 0;margin: 0 3px;}
.newskinbody .fs .fdleft{display: inline;height: auto;color: #929292;}
#navbottomtd{position: absolute;bottom: 0;height: 13px;overflow: hidden;background-repeat: no-repeat;}
.navbottom{background: url("../images/topline.gif") -179px -11px no-repeat;width: 179px;height: 13px;}
.fdul{padding:0;margin: 0;}
.newskinbody .fs .emptylink{margin: -22px 2px 0 -32px;float: right;}
.bold{font-weight: bold;}

#mainframecontainer{position: absolute;top: 77px;left: 192px;bottom: 0;right: 0;z-index: 4;overflow: hidden;}
#mainframe{position: absolute;width: 100%;height: 100%;z-index: 5; overflow: auto;}
.tbody{min-width: 675px;padding: 2px 7px 6px 4px;overflow-x:auto; overflow: hidden;}
.txttitle{color: #000000;font-weight: bold;font-size: 14px;margin: 4px 0 5px 8px;}
.fsize{font-size: 12px;}
.normal{font-weight: normal;}
.black{color: #000;}
#frm{margin: 0;padding: 0;display: block;}
.toolbg{background-image: url("../images/tool.gif");background-repeat: repeat-x;background-color: #d5d5d5;height: 28px;}
.toolbgline{border-bottom: 1px solid #bfbfbf;padding:7px;}
.toolheight{zoom:1;}
.nowrap{white-space: nowrap;}
.toolheight .right{margin: 4px 0 0 0;}
.btngray{border: 1px solid #888;color: #000000!important;background: -webkit-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);font-family: "lucida Grande",Verdana;display: inline-block;height: 22px;min-width: 24px;line-height: 22px;padding: 0 12px;margin: 0;text-align: center;text-decoration: none;vertical-align: middle;cursor: default;-webkit-user-select: none;border-radius: 3px;}
.btnspace{margin-right: 3px;}
.btndropdown{position: relative;padding: 0 22px 0 10px;}
.btndropdown .icoselects{right: 8px;top: 10px;width: 7px;height: 4px;background-position: -32px -128px;}
.icoselects{position: absolute;background-image: url("../images/maild.png");background-repeat: no-repeat;background-position: 0 -128px;overflow: hidden;display: block;}
.o2{table-layout: fixed;width: 100%;border-top: 1px solid #fff;color: #3b3b3b;}
.o2 td{border-bottom: 1px solid #c1c8d2;background-color: #f2f4f6;padding-top: 0;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;-webkit-appearance: checkbox;box-sizing: border-box;padding: initial;background-color: initial;border: initial;}
.otitle2{background-image: url("../images/maild.png");background-position: -128px 0;background-repeat: repeat-y;}
.icomailtitle{background-color: transparent; border: none;padding: 0;margin: 0;background-image: url("../images/maild.png");background-position: 1px -82px;background-repeat: no-repeat;width: 26px;height: 16px;}
.otitle2 a{color: #000;text-decoration: none;}
#selectall{visibility: hidden;height: 0;}
.graytipcon{height: 25px;overflow: hidden;transition: height 0.3s linear;-webkit-transition: height 0.3s linear;}
.graytip{background: #ffffe9;border-bottom: 1px solid #e3e6eb;line-height: 24px;text-align: center;}
.selectmail{display: none;}

.talk{position: relative;display: block;font-size: 12px;font-weight: normal;text-decoration: none;clear: both;border-left: none;border-right: none;padding: 8px 0px 3px 9px;border-bottom-width: 2px;border-top: none;}
.bd{border-bottom: 2px solid #bfbfbf;}
.talk .one{position: absolute;margin: 0 0 0 -33px;left: 0;}
.talk .curdefault{text-decoration: none;cursor: default;}
.talk label{cursor: pointer;}
.talk b {font-size: 14px;}
.underline{text-decoration: underline!important;}
.i{table-layout: fixed;width: 100%;}
.m{height: 24px;border-bottom: 1px solid #e3e6eb;font-weight: normal;clear: both;}
.toarea .m{border-bottom-width: 1px;}
.i .cx{vertical-align: top;padding: 3px 0 1px 5px;width: 24px;}
.i .ci{vertical-align: top;width: 50px;padding: 4px 0 0 10px;}
.i .ci div{float: left;}
.i .cir{width: 18px;height: 16px;overflow: hidden;cursor: pointer;}
.i .rr{background-image: url("../images/maild.png");background-position: -48px -16px;background-repeat: no-repeat;}
.i .ru{background-image: url("../images/maild.png");background-position: -48px 0;background-repeat: no-repeat;}
.i .l{padding-top: 2px;cursor: pointer;}
.i .t1{width: 117px;padding-right: 12px;}
.i .tf{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.t1 b{white-space: nowrap;}
.i .fgn{width: 16px;}
.i .gt{color: #a0a0a0;}
.i .no{font-weight: normal;}
.i .u{text-decoration: none;}
u{outline: medium none;text-decoration: none;}
.i .dt{width: 100px;white-space: nowrap;}
.i .dt div{margin: 0 0 0 12px;}
.i .fg{width: 20px;}
.i .fg div{width: 14px;height: 14px;background-image: url("../images/maild.png");background-repeat: no-repeat;background-position: -32px -160px;}

.selbarbt{background: #f4f4f4;border-top: 1px solid #fff;border-bottom: 1px solid #fff;}
.barspace2{padding-left: 9px;height: 19px;padding-top: 5px;}
.addrtitle{color: #8fa7b3;}
.fn b{font-weight: bold;}

.xla{display: none; position: absolute;top: 59px;left: 368px;z-index: 1121;height: 153px; border: 1px solid #ccc;border-radius: 2px; background-color: #fff;}
.xla li{width: 65px;height: 30px;background-color: #fff;line-height: 30px;padding: 0 0 0 16px;border-bottom: 1px solid #ccc;}
.xla li a{color: #000;text-align: center;}